In [2]:
import yfinance as yf
import pandas_datareader.data as web
from mplfinance import plot


yf.pdr_override()

data = web.get_data_yahoo('290740.KQ', start='2024-01-01', end='2024-02-13')

data

[*********************100%%**********************]  1 of 1 completed

              Open    High     Low   Close  Adj Close  Volume
Date
2024-01-02  8070.0  8080.0  7830.0  8040.0     8040.0   36353
2024-01-03  7910.0  8020.0  7880.0  7930.0     7930.0   22736
2024-01-04  7900.0  8050.0  7840.0  7910.0     7910.0   24768
2024-01-05  8030.0  8830.0  7900.0  8130.0     8130.0  375939
2024-01-08  8050.0  8200.0  7950.0  8100.0     8100.0   44422
2024-01-09  8100.0  8270.0  8010.0  8010.0     8010.0   28047
2024-01-10  8100.0  8100.0  7870.0  8020.0     8020.0   23698
2024-01-11  7960.0  8070.0  7870.0  7910.0     7910.0   16837
2024-01-12  7920.0  8020.0  7800.0  7910.0     7910.0   25688
2024-01-15  7850.0  8100.0  7400.0  8010.0     8010.0   66175
2024-01-16  8000.0  8200.0  7700.0  7830.0     7830.0   42414
2024-01-17  8040.0  8040.0  7540.0  7560.0     7560.0   67786
2024-01-18  7520.0  8080.0  7520.0  7750.0     7750.0   62113
2024-01-19  7770.0  8110.0  7760.0  7880.0     7880.0   31358
2024-01-22  7920.0  8150.0  7890.0  8000.0     8000.0   56679
2024-01-23  8120.0  8120.0  7500.0  7960.0     7960.0   39109
2024-01-24  8000.0  8030.0  7790.0  7920.0     7920.0   25510
2024-01-25  7920.0  7920.0  7720.0  7750.0     7750.0   21697
2024-01-26  7750.0  8140.0  7720.0  8070.0     8070.0  166892
2024-01-29  8110.0  8150.0  7690.0  7750.0     7750.0   73593
2024-01-30  7750.0  7840.0  7550.0  7750.0     7750.0   29378
2024-01-31  7730.0  7750.0  7500.0  7530.0     7530.0   27548
2024-02-01  7540.0  7540.0  7290.0  7380.0     7380.0   47146
2024-02-02  7370.0  7600.0  7370.0  7390.0     7390.0   18181
2024-02-05  7400.0  7850.0  7320.0  7760.0     7760.0   67639
2024-02-06  7900.0  7900.0  7660.0  7760.0     7760.0   37107
2024-02-07  7710.0  7950.0  7710.0  7880.0     7880.0   34695
2024-02-08  7880.0  7940.0  7790.0  7850.0     7850.0   18976

In [5]:
import pandas as pd

# 파일 경로 설정
file_path = r'C:\PythonProjects\recon\positions.xlsx'

# 'start_position' 시트의 데이터를 불러오기
df = pd.read_excel(file_path, sheet_name='start_position', dtype={'ticker': str})

# 'ticker' 열의 정보 중 중복된 것 제외하여 가져오기
unique_tickers = df['ticker'].drop_duplicates()

# 중복 제외된 'ticker' 열의 정보 출력
print(unique_tickers)

0      240600
1      445090
2      432470
3      446540
4      354320
5      396470
6      432720
7      111380
8      435620
9      378340
10     417200
14     373170
16     095700
19     335890
21     019170
22     060280
23     417010
24     397030
25     287410
27     376300
28     196170
29     006400
31     373220
33     001570
45     068760
46     334970
48     323990
49     145720
51     119860
54     285800
55     274400
56     450520
59     430690
61     336570
62     172670
65     451760
67     298380
70     438700
71     232830
73     443250
74     432430
79     451220
82     086900
84     214150
86     096530
87     047560
88     429270
89     137400
90     241840
91     403870
92     251340
93     252670
117    448710
120    416180
123    454910
Name: ticker, dtype: object

In [12]:
from pykrx import stock
import pandas as pd

# 파일 경로 설정
file_path = r'C:\PythonProjects\recon\positions.xlsx'

# 'start_position' 시트의 데이터를 불러오기
df = pd.read_excel(file_path, sheet_name='start_position', dtype={'ticker': str})

# ticker 열의 종목들에 대한 종가 데이터 불러오기
closing_prices = []
for ticker in df['ticker']:
    try:
        # pykrx의 get_market_ohlcv_by_date 함수를 사용하여 종가 데이터 불러오기
        close_price = stock.get_market_ohlcv_by_date("20240101", "20240310", ticker)["종가"][-1]
        closing_prices.append(close_price)
    except Exception as e:
        print(f"Error fetching data for ticker {ticker}: {e}")
        closing_prices.append(None)  # 에러가 발생하면 None으로 처리

# 종가 데이터를 데이터프레임에 추가
df['closing_price'] = closing_prices

# 결과를 'start' 시트에 저장
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    df.to_excel(writer, sheet_name='start', index=False)

# 결과 출력
print("DataFrame이 'start' 시트에 저장되었습니다.")

DataFrame이 'start' 시트에 저장되었습니다.

In [5]:
import pandas as pd

# 엑셀 파일 경로 설정
excel_file = r'C:\PythonProjects\recon\거래내역\1월2일 거래.xlsx'

# 엑셀 파일 읽어들이기
df = pd.read_excel(excel_file)

# '펀드' 칼럼 값이 변경
df.loc[df['펀드'] == '하이일드', '펀드'] = 'DM11001'
df.loc[df['펀드'] == '공모주1호', '펀드'] = 'DM12001'
df.loc[df['펀드'] == '공모주2호', '펀드'] = 'DM12002'
df.loc[df['펀드'] == '포커스', '펀드'] = 'DM12003'
df.loc[df['펀드'] == '코스닥벤처', '펀드'] = 'DM13001'
df.loc[df['펀드'] == '멀티전략', '펀드'] = 'DM14001'

# '매매구분' 칼럼 값 변경
df.loc[df['매매구분'] == 'Buy cover', '매매구분'] = 'Buy'
df.loc[df['매매구분'] == 'Sell short', '매매구분'] = 'Sell'

# 데이터프레임 확인
print(df)

         펀드     매매처    단축코드              종목명 운용역명  매매구분   체결수량      체결단가  \
0   DM12001      KB  335890               비올  정항준   Buy   1570    8582.0
1   DM14001     KIS  335890               비올  정항준   Buy   1623    8579.0
2   DM13001  Yuanta  335890               비올  정항준   Buy   1521    8581.0
3   DM13001  Yuanta  095270          웨이브일렉트로  김대욱   Buy    162    5075.0
4   DM13001    MACQ  241840            에이스토리  김대욱  Sell  11930   13816.0
5   DM12001     HMC  376300              디어유  김대욱  Sell   1500   32292.0
6   DM14001     JPM  376300              디어유  김대욱  Sell   1400   32281.0
7   DM13001    CLSA  047560           이스트소프트  김대욱  Sell   9360   15566.0
8   DM13001    HSBC  119860           커넥트웨이브  김대욱  Sell   1500   16389.0
9   DM13001      GS  376300              디어유  김대욱  Sell   3000   32291.0
10  DM13001      KB  334970      프레스티지바이오로직스  정항준  Sell   1376    4589.0
11  DM13001  Yuanta  403870             HPSP  나용천  Sell   5100   42985.0
12  DM13001  Yuanta  068760           셀트리온제약  정항준   Buy   1011   99963.0
13  DM12001   Mirae  207940         삼성바이오로직스  정항준   Buy     25  783880.0
14  DM14001     KIS  207940         삼성바이오로직스  정항준   Buy     25  784080.0
15  DM13001  Eugene  207940         삼성바이오로직스  정항준   Buy     57  784316.0
16  DM12001      NH  397030          에이프릴바이오  정항준  Sell   1064   16190.0
17  DM14001     KIS  397030          에이프릴바이오  정항준  Sell    965   16193.0
18  DM13001  Yuanta  397030          에이프릴바이오  정항준  Sell   2511   16178.0
19  DM12001      KB  196170             알테오젠  정항준  Sell    281   94094.0
20  DM14001     KIS  196170             알테오젠  정항준  Sell    210   94126.0
21  DM13001  Yuanta  196170             알테오젠  정항준  Sell    621   93832.0
22  DM13001      KB  451760               컨텍  정항준   Buy   2431   16851.0
23  DM12001      KB  354320               알멕  김대욱  Sell    115   45000.0
24  DM12002   Mirae  354320               알멕  김대욱  Sell    376   45023.0
25  DM14001     KIS  354320               알멕  김대욱  Sell    219   45000.0
26  DM13001  Yuanta  354320               알멕  김대욱  Sell    805   45071.0
27  DM11001      NH  354320               알멕  김대욱  Sell    200   45000.0
28  DM13001  Yuanta  232830              시큐센  김대욱  Sell  12539    4975.0
29  DM12001  Yuanta  001570               금양  김대욱  Sell    955  109570.0
30  DM14001     KIS   106V3  코스닥150 F 202403  김대욱  Sell      1    1394.2
31  DM14001     KIS   101V3  코스피200 F 202403  김대욱  Sell      1     360.1
32  DM12001      KB   101V3  코스피200 F 202403  김대욱  Sell      4     359.3

           체결금액  주문번호
0    13473740.0  28.0
1    13923717.0  27.0
2    13051701.0  26.0
3      822150.0  25.0
4   164824880.0  24.0
5    48438000.0  23.0
6    45193400.0  22.0
7   145697760.0  21.0
8    24583500.0  21.0
9    96873000.0  21.0
10    6314464.0  20.0
11  219223500.0  19.0
12  101062593.0  18.0
13   19597000.0  17.0
14   19602000.0  16.0
15   44706012.0  15.0
16   17226160.0  14.0
17   15626245.0  13.0
18   40622958.0  12.0
19   26440414.0  11.0
20   19766460.0  10.0
21   58269672.0   9.0
22   40964781.0   8.0
23    5175000.0   7.0
24   16928648.0   6.0
25    9855000.0   5.0
26   36282155.0   4.0
27    9000000.0   3.0
28   62381525.0   2.0
29  104639350.0   1.0
30          NaN   NaN
31          NaN   NaN
32          NaN   NaN

In [30]:
import os
import pandas as pd
from datetime import datetime

# 파일들이 있는 경로
folder_path = r'C:\PythonProjects\recon\거래내역'

# 파일들의 목록 가져오기
file_list = os.listdir(folder_path)

# 엑셀 파일만 필터링
excel_files = [file for file in file_list if file.endswith('.xlsx')]

# 모든 엑셀 파일을 하나의 데이터프레임으로 통합
dfs = []
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_excel(file_path, header=None)
    

    # 파일명에서 날짜 추출
    file_date = file.split()[0]  # 파일명에서 첫 번째 단어(날짜 부분) 추출
    file_date = file_date.replace('월', '-').replace('일', '')  # '월'과 '일'을 '-'로 변경
    
    try:
        # 날짜 형식 변경 시도
        file_date = pd.to_datetime(file_date, format='%m-%d').strftime('%Y-%m-%d')
        
        # 날짜가 유효한지 검증
        datetime.strptime(file_date, '%Y-%m-%d')
    except ValueError:
        # 유효하지 않은 날짜이면 건너뛰고 다음 파일 처리
        print(f"파일 '{file}'에서 유효하지 않은 날짜를 발견하여 해당 파일을 건너뜁니다.")
        continue
    
    # 연도를 '2024'로 변경
    file_date = file_date.replace('1900', '2024')
    
    # 데이터프레임에 날짜 열 추가
    df.insert(0, '날짜', file_date)
    
    dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)
s
# 통합된 데이터프레임을 엑셀 파일로 저장
output_file = os.path.join(folder_path, '20240311.xlsx')
merged_df.to_excel(output_file, index=False)

print("통합된 데이터프레임이 '20240311.xlsx'로 저장되었습니다.")

파일 '2월29일 거래.xlsx'에서 유효하지 않은 날짜를 발견하여 해당 파일을 건너뜁니다.
통합된 데이터프레임이 '20240311.xlsx'로 저장되었습니다.

In [35]:
import os
import pandas as pd
from datetime import datetime

# 파일들이 있는 경로
folder_path = r'C:\PythonProjects\recon\거래내역'

# 파일들의 목록 가져오기
file_list = os.listdir(folder_path)

# 엑셀 파일만 필터링
excel_files = [file for file in file_list if file.endswith('.xlsx')]

# 모든 엑셀 파일을 하나의 데이터프레임으로 통합
dfs = []
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_excel(file_path)
    
    # 파일명에서 날짜 추출
    file_date = file.split()[0]  # 파일명에서 첫 번째 단어(날짜 부분) 추출
    file_date = file_date.replace('월', '-').replace('일', '')  # '월'과 '일'을 '-'로 변경
    
    # '펀드' 칼럼 값이 변경
    df.loc[df['펀드'] == '하이일드', '펀드'] = 'DM11001'
    df.loc[df['펀드'] == '공모주1호', '펀드'] = 'DM12001'
    df.loc[df['펀드'] == '공모주2호', '펀드'] = 'DM12002'
    df.loc[df['펀드'] == '포커스', '펀드'] = 'DM12003'
    df.loc[df['펀드'] == '코스닥벤처', '펀드'] = 'DM13001'
    df.loc[df['펀드'] == '멀티전략', '펀드'] = 'DM14001'

    try:
        # 날짜 형식 변경 시도
        file_date = pd.to_datetime(file_date, format='%m-%d').strftime('%Y-%m-%d')
        
        # 연도를 '2024'로 변경
        file_date = file_date.replace(file_date[:4], '2024')
    except ValueError:
        # 유효하지 않은 날짜이면 건너뛰고 다음 파일 처리
        print(f"파일 '{file}'에서 유효하지 않은 날짜를 발견하여 해당 파일을 건너뜁니다.")
        continue
    
    # 데이터프레임에 날짜 열 추가
    df.insert(0, '날짜', file_date)
    
    dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)

# 통합된 데이터프레임을 엑셀 파일로 저장
output_file = os.path.join(folder_path, '20240311.xlsx')
merged_df.to_excel(output_file, index=False)

print("통합된 데이터프레임이 '20240311.xlsx'로 저장되었습니다.")

파일 '2월29일 거래.xlsx'에서 유효하지 않은 날짜를 발견하여 해당 파일을 건너뜁니다.
통합된 데이터프레임이 '20240311.xlsx'로 저장되었습니다.

In [37]:
import pandas as pd

# 엑셀 파일 경로
file_path = r'C:\PythonProjects\recon\거래내역\20240311.xlsx'

# 엑셀 파일 읽기
df = pd.read_excel(file_path)

# 4번째 열(column) 선택 후 문자열로 변환하여 저장
df.iloc[:, 3] = df.iloc[:, 3].apply(lambda x: str(x).zfill(6))

# 데이터프레임을 'tx_data.xlsx'로 저장
output_file_path = 'tx_data.xlsx'
df.to_excel(output_file_path, index=False)

print("데이터프레임이 'tx_data.xlsx'로 저장되었습니다.")

데이터프레임이 'tx_data.xlsx'로 저장되었습니다.

In [ ]:
import requests
import uuid
import time
import pandas as pd
import os

my_id = uuid.uuid4()
timestamp = int(time.time())

def get_stock_info():
    


def get_account_num(_alias):
    search_url = "http://3.34.197.25:13010/search"
    params = {
        "accountId": _alias,
    }
    response_1 = requests.get(url=search_url, params=params).json()["body"]["accountId"]
    print(response_1)
    return response_1

def get_trade_data(ticker, start, end):
    
    search_trade_url = "http://3.34.197.25:13020/candlestick/day-candles/"

    params = {
        "ticker": ticker,
        "from": start,
        "to": end
    }
    
    closingPrice_data = requests.get(url=search_trade_url, params=params).json()["body"]

    target_orders = []

    for item in trade_data:
        orders = item.get('orders', [])
        for order in orders:
            if order.get('ticker') == target_ticker:
                position_id = order.get('positionId')
                nickname = get_member_nick(position_id)
                order['nickname'] = nickname

                target_orders.append(order)

    print("Orders with ticker '{}':".format(target_ticker))

    for order in target_orders:
        print(order)

    return trade_data

In [1]:
import pandas as pd

file_path_df1 = r'C:\PythonProjects\recon\hints\hints_20240311.xlsx'
file_path_df2 = r'C:\PythonProjects\recon\hints\tx_data.xlsx'


# 첫 번째 엑셀 파일을 읽어들임
df1 = pd.read_excel(file_path_df1)

# 두 번째 엑셀 파일을 읽어들임
df2 = pd.read_excel(file_path_df2)

# "날짜" 열의 데이터 유형을 datetime64[ns]로 변환
df2['날짜'] = pd.to_datetime(df2['날짜'])

# 두 번째 표에서 필요한 열만 선택하여 새로운 데이터프레임 생성
df2_subset = df2[["날짜", "펀드", "종목명", "운용역명"]]

# 첫 번째 표에 운용역 데이터를 추가하기 위해 조건에 맞는 행을 찾아서 병합
merged_df = pd.merge(df1, df2_subset, how="left", left_on=["일자", "펀드코드", "종목명"], right_on=["날짜", "펀드", "종목명"])

# 병합된 데이터프레임을 엑셀 파일로 저장
merged_df.to_excel("merged_data.xlsx", index=False)

ValueError: You are trying to merge on datetime64[ns] and object columns. If you wish to proceed you should use pd.concat