In [2]:
import yfinance as yf
import pandas_datareader.data as web
from mplfinance import plot


yf.pdr_override()

data = web.get_data_yahoo('290740.KQ', start='2024-01-01', end='2024-02-13')

data

[*********************100%%**********************]  1 of 1 completed

              Open    High     Low   Close  Adj Close  Volume
Date
2024-01-02  8070.0  8080.0  7830.0  8040.0     8040.0   36353
2024-01-03  7910.0  8020.0  7880.0  7930.0     7930.0   22736
2024-01-04  7900.0  8050.0  7840.0  7910.0     7910.0   24768
2024-01-05  8030.0  8830.0  7900.0  8130.0     8130.0  375939
2024-01-08  8050.0  8200.0  7950.0  8100.0     8100.0   44422
2024-01-09  8100.0  8270.0  8010.0  8010.0     8010.0   28047
2024-01-10  8100.0  8100.0  7870.0  8020.0     8020.0   23698
2024-01-11  7960.0  8070.0  7870.0  7910.0     7910.0   16837
2024-01-12  7920.0  8020.0  7800.0  7910.0     7910.0   25688
2024-01-15  7850.0  8100.0  7400.0  8010.0     8010.0   66175
2024-01-16  8000.0  8200.0  7700.0  7830.0     7830.0   42414
2024-01-17  8040.0  8040.0  7540.0  7560.0     7560.0   67786
2024-01-18  7520.0  8080.0  7520.0  7750.0     7750.0   62113
2024-01-19  7770.0  8110.0  7760.0  7880.0     7880.0   31358
2024-01-22  7920.0  8150.0  7890.0  8000.0     8000.0   56679
2024-01-23  8120.0  8120.0  7500.0  7960.0     7960.0   39109
2024-01-24  8000.0  8030.0  7790.0  7920.0     7920.0   25510
2024-01-25  7920.0  7920.0  7720.0  7750.0     7750.0   21697
2024-01-26  7750.0  8140.0  7720.0  8070.0     8070.0  166892
2024-01-29  8110.0  8150.0  7690.0  7750.0     7750.0   73593
2024-01-30  7750.0  7840.0  7550.0  7750.0     7750.0   29378
2024-01-31  7730.0  7750.0  7500.0  7530.0     7530.0   27548
2024-02-01  7540.0  7540.0  7290.0  7380.0     7380.0   47146
2024-02-02  7370.0  7600.0  7370.0  7390.0     7390.0   18181
2024-02-05  7400.0  7850.0  7320.0  7760.0     7760.0   67639
2024-02-06  7900.0  7900.0  7660.0  7760.0     7760.0   37107
2024-02-07  7710.0  7950.0  7710.0  7880.0     7880.0   34695
2024-02-08  7880.0  7940.0  7790.0  7850.0     7850.0   18976

In [5]:
import pandas as pd

# 파일 경로 설정
file_path = r'C:\PythonProjects\recon\positions.xlsx'

# 'start_position' 시트의 데이터를 불러오기
df = pd.read_excel(file_path, sheet_name='start_position', dtype={'ticker': str})

# 'ticker' 열의 정보 중 중복된 것 제외하여 가져오기
unique_tickers = df['ticker'].drop_duplicates()

# 중복 제외된 'ticker' 열의 정보 출력
print(unique_tickers)

0      240600
1      445090
2      432470
3      446540
4      354320
5      396470
6      432720
7      111380
8      435620
9      378340
10     417200
14     373170
16     095700
19     335890
21     019170
22     060280
23     417010
24     397030
25     287410
27     376300
28     196170
29     006400
31     373220
33     001570
45     068760
46     334970
48     323990
49     145720
51     119860
54     285800
55     274400
56     450520
59     430690
61     336570
62     172670
65     451760
67     298380
70     438700
71     232830
73     443250
74     432430
79     451220
82     086900
84     214150
86     096530
87     047560
88     429270
89     137400
90     241840
91     403870
92     251340
93     252670
117    448710
120    416180
123    454910
Name: ticker, dtype: object

In [12]:
from pykrx import stock
import pandas as pd

# 파일 경로 설정
file_path = r'C:\PythonProjects\recon\positions.xlsx'

# 'start_position' 시트의 데이터를 불러오기
df = pd.read_excel(file_path, sheet_name='start_position', dtype={'ticker': str})

# ticker 열의 종목들에 대한 종가 데이터 불러오기
closing_prices = []
for ticker in df['ticker']:
    try:
        # pykrx의 get_market_ohlcv_by_date 함수를 사용하여 종가 데이터 불러오기
        close_price = stock.get_market_ohlcv_by_date("20240101", "20240310", ticker)["종가"][-1]
        closing_prices.append(close_price)
    except Exception as e:
        print(f"Error fetching data for ticker {ticker}: {e}")
        closing_prices.append(None)  # 에러가 발생하면 None으로 처리

# 종가 데이터를 데이터프레임에 추가
df['closing_price'] = closing_prices

# 결과를 'start' 시트에 저장
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    df.to_excel(writer, sheet_name='start', index=False)

# 결과 출력
print("DataFrame이 'start' 시트에 저장되었습니다.")

DataFrame이 'start' 시트에 저장되었습니다.

In [5]:
import pandas as pd

# 엑셀 파일 경로 설정
excel_file = r'C:\PythonProjects\recon\거래내역\1월2일 거래.xlsx'

# 엑셀 파일 읽어들이기
df = pd.read_excel(excel_file)

# '펀드' 칼럼 값이 변경
df.loc[df['펀드'] == '하이일드', '펀드'] = 'DM11001'
df.loc[df['펀드'] == '공모주1호', '펀드'] = 'DM12001'
df.loc[df['펀드'] == '공모주2호', '펀드'] = 'DM12002'
df.loc[df['펀드'] == '포커스', '펀드'] = 'DM12003'
df.loc[df['펀드'] == '코스닥벤처', '펀드'] = 'DM13001'
df.loc[df['펀드'] == '멀티전략', '펀드'] = 'DM14001'

# '매매구분' 칼럼 값 변경
df.loc[df['매매구분'] == 'Buy cover', '매매구분'] = 'Buy'
df.loc[df['매매구분'] == 'Sell short', '매매구분'] = 'Sell'

# 데이터프레임 확인
print(df)

         펀드     매매처    단축코드              종목명 운용역명  매매구분   체결수량      체결단가  \
0   DM12001      KB  335890               비올  정항준   Buy   1570    8582.0
1   DM14001     KIS  335890               비올  정항준   Buy   1623    8579.0
2   DM13001  Yuanta  335890               비올  정항준   Buy   1521    8581.0
3   DM13001  Yuanta  095270          웨이브일렉트로  김대욱   Buy    162    5075.0
4   DM13001    MACQ  241840            에이스토리  김대욱  Sell  11930   13816.0
5   DM12001     HMC  376300              디어유  김대욱  Sell   1500   32292.0
6   DM14001     JPM  376300              디어유  김대욱  Sell   1400   32281.0
7   DM13001    CLSA  047560           이스트소프트  김대욱  Sell   9360   15566.0
8   DM13001    HSBC  119860           커넥트웨이브  김대욱  Sell   1500   16389.0
9   DM13001      GS  376300              디어유  김대욱  Sell   3000   32291.0
10  DM13001      KB  334970      프레스티지바이오로직스  정항준  Sell   1376    4589.0
11  DM13001  Yuanta  403870             HPSP  나용천  Sell   5100   42985.0
12  DM13001  Yuanta  068760           셀트리온제약  정항준   Buy   1011   99963.0
13  DM12001   Mirae  207940         삼성바이오로직스  정항준   Buy     25  783880.0
14  DM14001     KIS  207940         삼성바이오로직스  정항준   Buy     25  784080.0
15  DM13001  Eugene  207940         삼성바이오로직스  정항준   Buy     57  784316.0
16  DM12001      NH  397030          에이프릴바이오  정항준  Sell   1064   16190.0
17  DM14001     KIS  397030          에이프릴바이오  정항준  Sell    965   16193.0
18  DM13001  Yuanta  397030          에이프릴바이오  정항준  Sell   2511   16178.0
19  DM12001      KB  196170             알테오젠  정항준  Sell    281   94094.0
20  DM14001     KIS  196170             알테오젠  정항준  Sell    210   94126.0
21  DM13001  Yuanta  196170             알테오젠  정항준  Sell    621   93832.0
22  DM13001      KB  451760               컨텍  정항준   Buy   2431   16851.0
23  DM12001      KB  354320               알멕  김대욱  Sell    115   45000.0
24  DM12002   Mirae  354320               알멕  김대욱  Sell    376   45023.0
25  DM14001     KIS  354320               알멕  김대욱  Sell    219   45000.0
26  DM13001  Yuanta  354320               알멕  김대욱  Sell    805   45071.0
27  DM11001      NH  354320               알멕  김대욱  Sell    200   45000.0
28  DM13001  Yuanta  232830              시큐센  김대욱  Sell  12539    4975.0
29  DM12001  Yuanta  001570               금양  김대욱  Sell    955  109570.0
30  DM14001     KIS   106V3  코스닥150 F 202403  김대욱  Sell      1    1394.2
31  DM14001     KIS   101V3  코스피200 F 202403  김대욱  Sell      1     360.1
32  DM12001      KB   101V3  코스피200 F 202403  김대욱  Sell      4     359.3

           체결금액  주문번호
0    13473740.0  28.0
1    13923717.0  27.0
2    13051701.0  26.0
3      822150.0  25.0
4   164824880.0  24.0
5    48438000.0  23.0
6    45193400.0  22.0
7   145697760.0  21.0
8    24583500.0  21.0
9    96873000.0  21.0
10    6314464.0  20.0
11  219223500.0  19.0
12  101062593.0  18.0
13   19597000.0  17.0
14   19602000.0  16.0
15   44706012.0  15.0
16   17226160.0  14.0
17   15626245.0  13.0
18   40622958.0  12.0
19   26440414.0  11.0
20   19766460.0  10.0
21   58269672.0   9.0
22   40964781.0   8.0
23    5175000.0   7.0
24   16928648.0   6.0
25    9855000.0   5.0
26   36282155.0   4.0
27    9000000.0   3.0
28   62381525.0   2.0
29  104639350.0   1.0
30          NaN   NaN
31          NaN   NaN
32          NaN   NaN

In [1]:
# trade팀에서 받은 거래내역을 하나의 파일로 통합하는 코드

import os
import pandas as pd
from datetime import datetime

# 파일들이 있는 경로
folder_path = r'C:\PythonProjects\recon\거래내역'
result_df_path = r'C:\PythonProjects\recon'

# 파일들의 목록 가져오기
file_list = os.listdir(folder_path)

# 엑셀 파일만 필터링
excel_files = [file for file in file_list if file.endswith('.xlsx')]

# 모든 엑셀 파일을 하나의 데이터프레임으로 통합
dfs = []
for file in excel_files:
    file_path = os.path.join(folder_path, file)

    # 첫 번째 행을 인덱스로 사용
    df = pd.read_excel(file_path, header=0)

    # 파일명에서 날짜 추출
    file_date = file.split()[0]  # 파일명에서 첫 번째 단어(날짜 부분) 추출
    file_date = file_date.replace('월', '-').replace('일', '')  # '월'과 '일'을 '-'로 변경
    file_date = '2024-' + file_date

    # '펀드' 칼럼 값이 변경
    df.loc[df['펀드'] == '하이일드', '펀드'] = 'DM11001'
    df.loc[df['펀드'] == '공모주1호', '펀드'] = 'DM12001'
    df.loc[df['펀드'] == '공모주2호', '펀드'] = 'DM12002'
    df.loc[df['펀드'] == '포커스', '펀드'] = 'DM12003'
    df.loc[df['펀드'] == '코스닥벤처', '펀드'] = 'DM13001'
    df.loc[df['펀드'] == '멀티전략', '펀드'] = 'DM14001'

    # '매매구분' 칼럼 값 변경
    df.loc[df['매매구분'] == 'Buy cover', '매매구분'] = 'Buy'
    df.loc[df['매매구분'] == 'Sell short', '매매구분'] = 'Sell'
    
    # 4번째 열(column) 선택 후 문자열로 변환하여 저장
    df.iloc[:, 2] = df.iloc[:, 2].apply(lambda x: str(x).zfill(6))
    
    try:
        # 날짜 형식 변경 시도
        file_date = pd.to_datetime(file_date, format='%Y-%m-%d').strftime('%Y-%m-%d')
        
        # 날짜가 유효한지 검증
        datetime.strptime(file_date, '%Y-%m-%d')
    except ValueError:
        # 유효하지 않은 날짜이면 건너뛰고 다음 파일 처리
        print(f"파일 '{file}'에서 유효하지 않은 날짜를 발견하여 해당 파일을 건너뜁니다.")
        continue
    
    # 데이터프레임에 날짜 열 추가
    df['날짜'] = file_date

    # 11번째 열에 있는 데이터를 첫 번째 행으로 옮기기
    df = df.reindex(['날짜', '펀드', '매매처', '단축코드', '종목명', '운용역명', '매매구분', '체결수량', '체결단가', '체결금액', '주문번호'], axis = 1)

    dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)

# 통합된 데이터프레임을 엑셀 파일로 저장
output_file = os.path.join(result_df_path, 'result_df.xlsx')
merged_df.to_excel(output_file, index=False)

print("통합된 데이터프레임이 저장되었습니다.")

통합된 데이터프레임이 저장되었습니다.

In [35]:
import os
import pandas as pd
from datetime import datetime

# 파일들이 있는 경로
folder_path = r'C:\PythonProjects\recon\거래내역'

# 파일들의 목록 가져오기
file_list = os.listdir(folder_path)

# 엑셀 파일만 필터링
excel_files = [file for file in file_list if file.endswith('.xlsx')]

# 모든 엑셀 파일을 하나의 데이터프레임으로 통합
dfs = []
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_excel(file_path)
    
    # 파일명에서 날짜 추출
    file_date = file.split()[0]  # 파일명에서 첫 번째 단어(날짜 부분) 추출
    file_date = file_date.replace('월', '-').replace('일', '')  # '월'과 '일'을 '-'로 변경
    
    # '펀드' 칼럼 값이 변경
    df.loc[df['펀드'] == '하이일드', '펀드'] = 'DM11001'
    df.loc[df['펀드'] == '공모주1호', '펀드'] = 'DM12001'
    df.loc[df['펀드'] == '공모주2호', '펀드'] = 'DM12002'
    df.loc[df['펀드'] == '포커스', '펀드'] = 'DM12003'
    df.loc[df['펀드'] == '코스닥벤처', '펀드'] = 'DM13001'
    df.loc[df['펀드'] == '멀티전략', '펀드'] = 'DM14001'

    try:
        # 날짜 형식 변경 시도
        file_date = pd.to_datetime(file_date, format='%m-%d').strftime('%Y-%m-%d')
        
        # 연도를 '2024'로 변경
        file_date = file_date.replace(file_date[:4], '2024')
    except ValueError:
        # 유효하지 않은 날짜이면 건너뛰고 다음 파일 처리
        print(f"파일 '{file}'에서 유효하지 않은 날짜를 발견하여 해당 파일을 건너뜁니다.")
        continue
    
    # 데이터프레임에 날짜 열 추가
    df.insert(0, '날짜', file_date)
    
    dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)

# 통합된 데이터프레임을 엑셀 파일로 저장
output_file = os.path.join(folder_path, '20240311.xlsx')
merged_df.to_excel(output_file, index=False)

print("통합된 데이터프레임이 '20240311.xlsx'로 저장되었습니다.")

파일 '2월29일 거래.xlsx'에서 유효하지 않은 날짜를 발견하여 해당 파일을 건너뜁니다.
통합된 데이터프레임이 '20240311.xlsx'로 저장되었습니다.

In [37]:
import pandas as pd

# 엑셀 파일 경로
file_path = r'C:\PythonProjects\recon\거래내역\20240311.xlsx'

# 엑셀 파일 읽기
df = pd.read_excel(file_path)

# 4번째 열(column) 선택 후 문자열로 변환하여 저장
df.iloc[:, 3] = df.iloc[:, 3].apply(lambda x: str(x).zfill(6))

# 데이터프레임을 'tx_data.xlsx'로 저장
output_file_path = 'tx_data.xlsx'
df.to_excel(output_file_path, index=False)

print("데이터프레임이 'tx_data.xlsx'로 저장되었습니다.")

데이터프레임이 'tx_data.xlsx'로 저장되었습니다.

In [ ]:
import requests
import uuid
import time
import pandas as pd
import os

my_id = uuid.uuid4()
timestamp = int(time.time())

def get_stock_info():
    


def get_account_num(_alias):
    search_url = "http://3.34.197.25:13010/search"
    params = {
        "accountId": _alias,
    }
    response_1 = requests.get(url=search_url, params=params).json()["body"]["accountId"]
    print(response_1)
    return response_1

def get_trade_data(ticker, start, end):
    
    search_trade_url = "http://3.34.197.25:13020/candlestick/day-candles/"

    params = {
        "ticker": ticker,
        "from": start,
        "to": end
    }
    
    closingPrice_data = requests.get(url=search_trade_url, params=params).json()["body"]

    target_orders = []

    for item in trade_data:
        orders = item.get('orders', [])
        for order in orders:
            if order.get('ticker') == target_ticker:
                position_id = order.get('positionId')
                nickname = get_member_nick(position_id)
                order['nickname'] = nickname

                target_orders.append(order)

    print("Orders with ticker '{}':".format(target_ticker))

    for order in target_orders:
        print(order)

    return trade_data

In [2]:
import pandas as pd

file_path_df1 = r'C:\PythonProjects\recon\hints\hints_20240311.xlsx'
file_path_df2 = r'C:\PythonProjects\recon\hints\tx_data.xlsx'


# 첫 번째 엑셀 파일을 읽어들임
df1 = pd.read_excel(file_path_df1)

# 두 번째 엑셀 파일을 읽어들임
df2 = pd.read_excel(file_path_df2)

# "날짜" 열의 데이터 유형을 datetime64[ns]로 변환
df2['날짜'] = pd.to_datetime(df2['날짜'])

# 두 번째 표에서 필요한 열만 선택하여 새로운 데이터프레임 생성
df2_subset = df2[["날짜", "펀드", "종목명", "운용역명"]]

# 첫 번째 표에 운용역 데이터를 추가하기 위해 조건에 맞는 행을 찾아서 병합
merged_df = pd.merge(df1, df2_subset, how="left", left_on=["일자", "펀드코드", "종목명"], right_on=["날짜", "펀드", "종목명"])

# 병합된 데이터프레임을 엑셀 파일로 저장
merged_df.to_excel("merged_data.xlsx", index=False)

In [ ]:
import pandas as pd
import datetime

now = datetime.datetime.today().strftime('%Y-%m-%d')

file_path_df1 = "C:\PythonProjects\recon\hints" + now + '.xlsx'
file_path_df2 = 'C:\PythonProjects\recon\hints\tx_data.xlsx'


# 첫 번째 엑셀 파일을 읽어들임
df1 = pd.read_excel(file_path_df1)

# 두 번째 엑셀 파일을 읽어들임
df2 = pd.read_excel(file_path_df2)

# "날짜" 열의 데이터 유형을 datetime64[ns]로 변환
df2['날짜'] = pd.to_datetime(df2['날짜'])

# 두 번째 표에서 필요한 열만 선택하여 새로운 데이터프레임 생성
df2_subset = df2[["날짜", "펀드", "종목명", "운용역명"]]

# 첫 번째 표에 운용역 데이터를 추가하기 위해 조건에 맞는 행을 찾아서 병합
merged_df = pd.merge(df1, df2_subset, how="left", left_on=["일자", "펀드코드", "종목명"], right_on=["날짜", "펀드", "종목명"])

# 병합된 데이터프레임을 엑셀 파일로 저장
merged_df.to_excel("merged_data.xlsx", index=False)

In [2]:
# HINTs #22713에서 받은 기간내 거래내역 불러오기 및 result_df.xlsx와 정보 매칭 작업
# 해당 작업은 oms 및 trade팀의 부정확한 단가 및 거래금액, 수수료, 거래세를 교정하기 위한 작업

# 필요한 라이브러리 불러오기
import pandas as pd
import datetime
from openpyxl import load_workbook

# 당일 날짜 저장
now = datetime.datetime.today().strftime('%Y-%m-%d')

# 거래내역 위치 저장
file_path_df1 = "C:\\PythonProjects\\recon\\hints\\2024-03-19.xlsx"
file_path_df2 = r'C:\PythonProjects\recon\result_df.xlsx'

# 당일 거래내역 데이터프레임으로 저장
df1 = pd.read_excel(file_path_df1, header=0)
df2 = pd.read_excel(file_path_df2, header=0)

# '종목명' 열이 'NaN'인 행 삭제
df1 = df1.dropna(subset=['종목명'])

# 매매처명 통일
df1.loc[df1['매매처명'] == '한국투자증권', '매매처명'] = 'KIS'
df1.loc[df1['매매처명'] == '유안타증권', '매매처명'] = 'Yuanta'
df1.loc[df1['매매처명'] == 'CGS-CIMB증권(한국지점)', '매매처명'] = 'CGSI'
df1.loc[df1['매매처명'] == 'CLSA증권', '매매처명'] = 'CLSA'
df1.loc[df1['매매처명'] == 'HSBC증권', '매매처명'] = 'HSBC'
df1.loc[df1['매매처명'] == 'KB증권', '매매처명'] = 'KB'
df1.loc[df1['매매처명'] == '현대차증권', '매매처명'] = 'HMC'
df1.loc[df1['매매처명'] == 'NH투자증권', '매매처명'] = 'NH'
df1.loc[df1['매매처명'] == '미래에셋증권', '매매처명'] = 'Mirae'
df1.loc[df1['매매처명'] == '맥쿼리(ING)증권', '매매처명'] = 'MACQ'
df1.loc[df1['매매처명'] == '골드만삭스증권', '매매처명'] = 'GS'
df1.loc[df1['매매처명'] == '제이피모간증권', '매매처명'] = 'JPM'
df1.loc[df1['매매처명'] == '유진투자증권', '매매처명'] = 'Eugene'
df2.loc[df2['매매처'] == '유안타', '매매처'] = 'Yuanta'
df2.loc[df2['매매처'] == '한투', '매매처'] = 'KIS'

# '날짜'인덱스의 이름이 일치하지 않으므로 '일자' 인덱스 이름을 변경
df1 = df1.rename(columns={'일자':'날짜'})
df1 = df1.rename(columns={'매매처명':'매매처'})
df2 = df2.rename(columns={'펀드':'펀드코드'})
df2 = df2.rename(columns={'체결수량':'수량'})
df2 = df2.rename(columns={'체결단가':'단가'})

# '매매구분' 칼럼 값 변경
df1.loc[df1['매매구분'] == '매수', '매매구분'] = 'Buy'
df1.loc[df1['매매구분'] == '매도', '매매구분'] = 'Sell'

# '날짜'컬럼의 데이터형식 문제로 인해 통합되지 않는 문제 해결
df1['날짜'] = pd.to_datetime(df1['날짜'], format='%Y-%m-%d')
df2['날짜'] = pd.to_datetime(df2['날짜'], format='%Y-%m-%d')

# 'df1'에 단축코드 컬럼 추가
df1['단축코드'] = df1['종목코드'].str[3:9]

df1.loc[df1['단축코드'] == '005382', '단축코드'] = '005387'

# 'df2'의 주문번호를 문자열로 변환
df2['주문번호'] = df2['주문번호'].astype(str)

# 'df2'에 '날짜'와 '주문번호'를 합쳐서 고유코드 생성
df2['order_id'] = df2['날짜'].astype(str) + '-' + df2['주문번호']

# 날짜, 종목명, 펀드코드, 매매구분
merged_df = pd.merge(df1, df2, on=['날짜', '단축코드', '펀드코드', '매매구분', '수량', '매매처', '단가'], how='inner')

# 중복되는 행 삭제
merged_df_no_duple = merged_df.drop_duplicates()

# '날짜', '단축코드', '펀드코드', '매매구분', '수량', '매매처', '단가', 'order_id'가 중복되는 행 삭제
merged_df_no_duple.drop_duplicates(subset=['날짜', '단축코드', '펀드코드', '매매구분', '수량', '매매처', '단가', 'order_id'], inplace=True)

# 경로 및 시트이름 설정
output_file = r'C:\PythonProjects\recon\positions.xlsx'
sheet_name = 'transaction'

# 결과를 엑셀 파일로 저장합니다.
try:
    # 기존 엑셀 파일 열기
    wb = load_workbook(output_file)
    writer = pd.ExcelWriter(output_file, engine='openpyxl')
    writer.book = wb
except FileNotFoundError:
    # 파일이 없을 경우 새로운 엑셀 파일 생성
    writer = pd.ExcelWriter(output_file, engine='openpyxl')

merged_df_no_duple.to_excel(writer, sheet_name=sheet_name, index=False)
writer.save()
writer.close()

C:\Users\jtlee\AppData\Local\Temp\ipykernel_26944\505584906.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_no_duple.drop_duplicates(subset=['날짜', '단축코드', '펀드코드', '매매구분', '수량', '매매처', '단가', 'order_id'], inplace=True)
C:\Users\jtlee\AppData\Local\Temp\ipykernel_26944\505584906.py:84: FutureWarning: Setting the `book` attribute is not part of the public API, usage can give unexpected or corrupted results and will be removed in a future version
  writer.book = wb
C:\Users\jtlee\AppData\Local\Temp\ipykernel_26944\505584906.py:90: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [1]:
# 해당 셀에서는 transaction의 거래내역을 start에 나와있는 기초 포지션에 반영하여 손익이 나타날 수 있도록 하는 작업을 수행할 것


import pandas as pd
import datetime
from openpyxl import load_workbook

# 엑셀파일 경로 저장 및 읽어들일 시트 이름 설정
file_path = r'C:\PythonProjects\recon\positions.xlsx'
transaction_sheet = 'transaction'
start_sheet = 'start'

# Read each sheet from position.xlsx and save to dataframe
transaction_df = pd.read_excel(file_path, sheet_name=transaction_sheet)
start_df = pd.read_excel(file_path, sheet_name=start_sheet)

# 단축코드 열(column) 선택 후 문자열로 변환 및 6자리 변경하여 저장
transaction_df.iloc[:, 22] = transaction_df.iloc[:, 22].apply(lambda x: str(x).zfill(6))
start_df.iloc[:, 1] = start_df.iloc[:, 1].apply(lambda x: str(x).zfill(6))

# Modify transaction_df based on direction, tax, and commission
transaction_df["수량"] = transaction_df.apply(lambda row: f"-{row['수량']}" if row['매매구분'] == "Buy" else f"+{row['수량']}", axis=1)
transaction_df["금액"] = transaction_df.apply(lambda row: f"-{row['금액']}" if row['매매구분'] == "Buy" else f"+{row['금액']}", axis=1)
transaction_df["수수료"] = transaction_df.apply(lambda row: f"-{row['수수료']}", axis=1)
transaction_df["거래세"] = transaction_df.apply(lambda row: f"-{row['거래세']}", axis=1)
transaction_df["commission"] = transaction_df.apply(lambda row: f"-{row['commission']}", axis=1)

In [3]:
print(transaction_df)

             날짜 국내외구분      거래구분  매매구분  종목구분     펀드코드                펀드명  \
0    2024-01-02    국내      주식매도  Sell  상장주식  DM12001  두나미스 공모주 일반사모투자신탁
1    2024-01-02    국내      주식매도  Sell  상장주식  DM12001  두나미스 공모주 일반사모투자신탁
2    2024-01-02    국내      주식매도  Sell  상장주식  DM12001  두나미스 공모주 일반사모투자신탁
3    2024-01-02    국내      주식매도  Sell  상장주식  DM12001  두나미스 공모주 일반사모투자신탁
4    2024-01-02    국내      주식매도  Sell  상장주식  DM12001  두나미스 공모주 일반사모투자신탁
...         ...   ...       ...   ...   ...      ...                ...
1984 2024-03-19    국내      주식매수   Buy  상장주식  DM14001  두나미스 멀티전략 일반사모(운)
1985 2024-03-19    국내      주식매수   Buy  상장주식  DM14001  두나미스 멀티전략 일반사모(운)
1986 2024-03-19    국내  집합투자증권매수   Buy   ETF  DM12001  두나미스 공모주 일반사모투자신탁
1987 2024-03-19    국내  집합투자증권매수   Buy   ETF  DM12001  두나미스 공모주 일반사모투자신탁
1988 2024-03-19    국내  집합투자증권매수   Buy   ETF  DM14001  두나미스 멀티전략 일반사모(운)

              종목코드              종목명_x     수량  ...     매매손익  환산손익  통화코드  수수료구분  \
0     KR7001570001                 금양    955  ...   280278     0   KRW   일반매매
1     KR7196170005               알테오젠    281  ...  8464565     0   KRW   일반매매
2     KR7354320004                 알멕    115  ... -9945258     0   KRW   일반매매
3     KR7376300000                디어유   1500  ... -8362400     0   KRW   일반매매
4     KR7397030008            에이프릴바이오   1064  ...  5356512     0   KRW   일반매매
...            ...                ...    ...  ...      ...   ...   ...    ...
1984  KR7340570001                티앤엘     85  ...        0     0   KRW   일반매매
1985  KR7448710004            코츠테크놀로지     64  ...        0     0   KRW   일반매매
1986  KR7229200001       KODEX 코스닥150   1770  ...        0     0   KRW   일반매매
1987  KR7252670005   KODEX 200선물인버스2X  18560  ...        0     0   KRW   일반매매
1988  KR7251340006  KODEX 코스닥150선물인버스  14350  ...        0     0   KRW   일반매매

        단축코드              종목명_y 운용역명       체결금액  주문번호         order_id
0     001570                 금양  김대욱  104639350   1.0   2024-01-02-1.0
1     196170               알테오젠  정항준   26440414  11.0  2024-01-02-11.0
2     354320                 알멕  김대욱    5175000   7.0   2024-01-02-7.0
3     376300                디어유  김대욱   48438000  23.0  2024-01-02-23.0
4     397030            에이프릴바이오  정항준   17226160  14.0  2024-01-02-14.0
...      ...                ...  ...        ...   ...              ...
1984  340570                티앤엘  정항준    4374695   8.0   2024-03-19-8.0
1985  448710            코츠테크놀로지  정영우    1385920   5.0   2024-03-19-5.0
1986  229200       KODEX 코스닥150  김대욱   26142900  70.0  2024-03-19-70.0
1987  252670   KODEX 200선물인버스2X  김대욱   41017600  78.0  2024-03-19-78.0
1988  251340  KODEX 코스닥150선물인버스  김대욱   48072500  68.0  2024-03-19-68.0

[1989 rows x 28 columns]

In [3]:
# HINTs #22713에서 받은 기간내 거래내역 불러오기 및 result_df.xlsx와 정보 매칭 작업
# 해당 작업은 oms 및 trade팀의 부정확한 단가 및 거래금액, 수수료, 거래세를 교정하기 위한 작업

# 필요한 라이브러리 불러오기
import pandas as pd
import datetime
from openpyxl import load_workbook

# 당일 날짜 저장
now = datetime.datetime.today().strftime('%Y-%m-%d')

# 거래내역 위치 저장
file_path_df1 = "C:\\PythonProjects\\recon\\hints\\2024-03-19.xlsx"
file_path_df2 = r'C:\PythonProjects\recon\result_df.xlsx'

# 당일 거래내역 데이터프레임으로 저장
df1 = pd.read_excel(file_path_df1, header=0)
df2 = pd.read_excel(file_path_df2, header=0)

# '종목명' 열이 'NaN'인 행 삭제
df1 = df1.dropna(subset=['종목명'])

# '날짜'인덱스의 이름이 일치하지 않으므로 '일자' 인덱스 이름을 변경
df1 = df1.rename(columns={'일자':'날짜'})
df2 = df2.rename(columns={'펀드':'펀드코드'})
df2 = df2.rename(columns={'체결수량':'수량'})

# '매매구분' 칼럼 값 변경
df1.loc[df1['매매구분'] == '매수', '매매구분'] = 'Buy'
df1.loc[df1['매매구분'] == '매도', '매매구분'] = 'Sell'

# '날짜'컬럼의 데이터형식 문제로 인해 통합되지 않는 문제 해결
df1['날짜'] = pd.to_datetime(df1['날짜'], format='%Y-%m-%d')
df2['날짜'] = pd.to_datetime(df2['날짜'], format='%Y-%m-%d')

# 'df1'에 단축코드 컬럼 추가
# df1['단축코드'] = df1['종목코드'].str[3:9]


# 날짜, 종목명, 펀드코드, 매매구분
merged_df = pd.merge(df1, df2, on=['날짜', '종목명', '펀드코드', '매매구분'], how='inner')

# 중복되는 행 삭제
merged_df_no_duple = merged_df.drop_duplicates()

# 경로 및 시트이름 설정
output_file = r'C:\PythonProjects\recon\positions.xlsx'
sheet_name = 'transaction'

# 결과를 엑셀 파일로 저장합니다.
try:
    # 기존 엑셀 파일 열기
    wb = load_workbook(output_file)
    writer = pd.ExcelWriter(output_file, engine='openpyxl')
    writer.book = wb
except FileNotFoundError:
    # 파일이 없을 경우 새로운 엑셀 파일 생성
    writer = pd.ExcelWriter(output_file, engine='openpyxl')

merged_df_no_duple.to_excel(writer, sheet_name=sheet_name, index=False)
writer.save()
writer.close()

C:\Users\jtlee\AppData\Local\Temp\ipykernel_23736\3670646707.py:55: FutureWarning: Setting the `book` attribute is not part of the public API, usage can give unexpected or corrupted results and will be removed in a future version
  writer.book = wb
C:\Users\jtlee\AppData\Local\Temp\ipykernel_23736\3670646707.py:61: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [5]:
print(df2)

             날짜     펀드코드     매매처    단축코드                종목명 운용역명  매매구분     수량  \
0    2024-01-10  DM13001      NH  086900               메디톡스  정항준  Sell    131
1    2024-01-10  DM12001  Eugene  229200       KODEX 코스닥150  김대욱   Buy   6840
2    2024-01-10  DM12001      KB  251340  KODEX 코스닥150선물인버스  김대욱  Sell  19990
3    2024-01-10  DM12001      KB  252670   KODEX 200선물인버스2X  김대욱   Buy  39430
4    2024-01-10  DM14001     KIS  251340  KODEX 코스닥150선물인버스  김대욱  Sell  17410
...         ...      ...     ...     ...                ...  ...   ...    ...
1992 2024-03-08  DM13001  Yuanta  417790                트루엔  정영우   Buy   1934
1993 2024-03-08  DM12001      NH  204620            글로벌텍스프리  정영우   Buy   2578
1994 2024-03-08  DM14001     KIS  204620            글로벌텍스프리  정영우   Buy   1896
1995 2024-03-08  DM13001  Yuanta  204620            글로벌텍스프리  정영우   Buy   4752
1996 2024-03-08  DM13001  Yuanta  141080             레고켐바이오  정항준  Sell    696

          체결단가        체결금액  주문번호
0     236366.0  30963946.0  21.0
1      13781.0  94262040.0  20.0
2       3604.0  72043960.0  19.0
3       2436.0  96051480.0  18.0
4       3604.0  62745640.0  17.0
...        ...         ...   ...
1992   11163.0  21589242.0   5.0
1993    4876.0  12570328.0   4.0
1994    4878.0   9248688.0   3.0
1995    4875.0  23166000.0   2.0
1996   75240.0  52367040.0   1.0

[1997 rows x 11 columns]

In [34]:
import datetime

now = datetime.datetime.today().strftime('%Y-%m-%d')

print(now)

2024-03-19

In [ ]:
import pandas as pd

# 엑셀 파일에서 시트 데이터를 읽어옵니다.
realized_pnl_df = pd.read_excel('your_excel_file.xlsx', sheet_name='realized_pnl')
unrealized_pnl_df = pd.read_excel('your_excel_file.xlsx', sheet_name='unrealized_pnl')
start_df = pd.read_excel('your_excel_file.xlsx', sheet_name='start')
transaction_df = pd.read_excel('your_excel_file.xlsx', sheet_name='transaction')

# 필요한 열만 선택하여 데이터프레임을 생성합니다.
realized_pnl_df = realized_pnl_df[['fund_code', 'ticker', 'PnL']]
unrealized_pnl_df = unrealized_pnl_df[['fund_code', 'ticker', 'unrealized_pnl']]
start_df = start_df[['fund_code', 'ticker', 'quantity', 'price']]
transaction_df = transaction_df[['fund_code', 'ticker', 'direction', 'quantity', 'price', 'net_amount']]

# 네번째 시트의 거래 데이터를 기존 포지션에 반영하여 첫번째 시트의 realized_pnl을 계산합니다.
for index, transaction in transaction_df.iterrows():
    fund_code = transaction['fund_code']
    ticker = transaction['ticker']
    direction = transaction['direction']
    quantity = transaction['quantity']
    price = transaction['price']
    net_amount = transaction['net_amount']
    
    # 매수인 경우
    if direction == '매수':
        # 기존 포지션에 추가
        existing_position = start_df[(start_df['fund_code'] == fund_code) & (start_df['ticker'] == ticker)]
        if not existing_position.empty:
            start_df.loc[(start_df['fund_code'] == fund_code) & (start_df['ticker'] == ticker), 'quantity'] += quantity
        else:
            # 새로운 포지션 추가
            start_df = start_df.append({'fund_code': fund_code, 'ticker': ticker, 'quantity': quantity, 'price': price}, ignore_index=True)
    # 매도인 경우
    elif direction == '매도':
        # 기존 포지션에서 빼기
        existing_position = start_df[(start_df['fund_code'] == fund_code) & (start_df['ticker'] == ticker)]
        if not existing_position.empty:
            start_df.loc[(start_df['fund_code'] == fund_code) & (start_df['ticker'] == ticker), 'quantity'] -= quantity

# realized_pnl을 계산하여 첫번째 시트에 채웁니다.
for index, row in realized_pnl_df.iterrows():
    fund_code = row['fund_code']
    ticker = row['ticker']
    quantity = start_df[(start_df['fund_code'] == fund_code) & (start_df['ticker'] == ticker)]['quantity'].values[0]
    price = start_df[(start_df['fund_code'] == fund_code) & (start_df['ticker'] == ticker)]['price'].values[0]
    realized_pnl_df.loc[index, 'PnL'] = quantity * (price - row['PnL'])

# unrealized_pnl을 계산하여 두번째 시트에 채웁니다.
for index, row in unrealized_pnl_df.iterrows():
    fund_code = row['fund_code']
    ticker = row['ticker']
    quantity = start_df[(start_df['fund_code'] == fund_code) & (start_df['ticker'] == ticker)]['quantity'].values[0]
    price = start_df[(start_df['fund_code'] == fund_code) & (start_df['ticker'] == ticker)]['price'].values[0]
    unrealized_pnl_df.loc[index, 'unrealized_pnl'] = quantity * (price - row['unrealized_pnl'])

# 결과를 엑셀 파일로 저장합니다.
with pd.ExcelWriter('output.xlsx') as writer:
    realized_pnl_df.to_excel(writer, sheet_name='realized_pnl', index=False)
    unrealized_pnl_df.to_excel(writer, sheet_name='unrealized_pnl', index=False)

In [23]:
import pandas as pd

# 파일 경로
file_path = r'C:\PythonProjects\recon\positions.xlsx'


# 엑셀 파일에서 시트 데이터를 읽어옵니다.
start_df = pd.read_excel(file_path, sheet_name='start')
transaction_df = pd.read_excel(file_path, sheet_name='transaction')

# Modify start_df based on direction
start_df["quantity"] = start_df.apply(lambda row: f"+{row['quantity']}" if row['direction'] == "LONG" else f"-{row['quantity']}", axis=1)
start_df["net_amount"] = start_df.apply(lambda row: f"+{row['net_amount']}", axis=1)

# 4번째 열(column) 선택 후 문자열로 변환하여 저장 Select column 4 and change data to string type
transaction_df.iloc[:, 2] = transaction_df.iloc[:, 2].apply(lambda x: str(x).zfill(6))
start_df.iloc[:, 1] = start_df.iloc[:, 1].apply(lambda x: str(x).zfill(6))

# Modify transaction_df based on direction, tax, and commission
transaction_df["quantity"] = transaction_df.apply(lambda row: f"+{row['quantity']}" if row['direction'] == "매수" else f"-{row['quantity']}", axis=1)
transaction_df["gross_amount"] = transaction_df.apply(lambda row: f"+{row['gross_amount']}" if row['direction'] == "매수" else f"-{row['gross_amount']}", axis=1)
transaction_df["net_amount"] = transaction_df.apply(lambda row: f"+{row['net_amount']}" if row['direction'] == "매수" else f"-{row['net_amount']}", axis=1)
transaction_df["tax"] = transaction_df.apply(lambda row: f"-{row['tax']}", axis=1)
transaction_df["commission"] = transaction_df.apply(lambda row: f"-{row['commission']}", axis=1)

In [25]:
transaction_df[['quantity', 'gross_amount', 'commission', 'tax', 'net_amount', 'price']] = transaction_df[['quantity', 'gross_amount', 'commission', 'tax', 'net_amount', 'price']].astype(float)

           date fund_code  ticker direction manager               stock_name  \
0    2024-01-02   DM12001  001570        매도     김대욱                       금양
1    2024-01-02   DM12001  196170        매도     정항준                     알테오젠
2    2024-01-02   DM12001  354320        매도     김대욱                       알멕
3    2024-01-02   DM12001  376300        매도     김대욱                      디어유
4    2024-01-02   DM12001  397030        매도     정항준                  에이프릴바이오
...         ...       ...     ...       ...     ...                      ...
2443 2024-03-08   DM12001  252670        매수     김대욱         KODEX 200선물인버스2X
2444 2024-03-08   DM13001  252670        매수     김대욱         KODEX 200선물인버스2X
2445 2024-03-08   DM13001  465350        매수     정영우  KBSTAR 2차전지TOP10인버스(합성)
2446 2024-03-08   DM14001  252670        매수     김대욱         KODEX 200선물인버스2X
2447 2024-03-08   DM14001  465350        매수     정영우  KBSTAR 2차전지TOP10인버스(합성)

      quantity     price  gross_amount  commission       tax   net_amount
0       -955.0  109570.0  -104639200.0    -52310.0 -188301.0 -104398589.0
1       -281.0   94094.0   -26440500.0    -13220.0  -47591.0  -26379689.0
2       -115.0   45000.0    -5175000.0     -2580.0   -9315.0   -5163105.0
3      -1500.0   32292.0   -48438350.0    -24210.0  -87170.0  -48326970.0
4      -1064.0   16190.0   -17226020.0     -3440.0  -30942.0  -17191638.0
...        ...       ...           ...         ...       ...          ...
2443  115470.0    2170.0   250569900.0   -125280.0      -0.0  250695180.0
2444   30410.0    2170.0    65989700.0    -32990.0      -0.0   66022690.0
2445    1490.0   23623.0    35197915.0    -17590.0      -0.0   35215505.0
2446    5990.0    2170.0    12998300.0     -6490.0      -0.0   13004790.0
2447     600.0   23624.0    14174300.0     -7080.0      -0.0   14181380.0

[2448 rows x 12 columns]

In [14]:
# transaction_df에서 date 열 제거
transaction_df.drop(columns=['date'], inplace=True)

# fund_code, ticker, manager 열이 같은 행의 값을 합하고 price는 평균값으로 계산하여 하나의 행으로 만듦
result_df = transaction_df.groupby(['fund_code', 'ticker', 'manager']).agg({
    'quantity': 'sum',
    'gross_amount': 'sum',
    'commission': 'sum',
    'tax': 'sum',
    'net_amount': 'sum',
    'price': 'mean'
}).reset_index()

print(result_df)

    fund_code  ticker manager          quantity  \
0     DM11001  068100     김대욱      -15-15-15-15
1     DM11001  105760     김대욱               -74
2     DM11001  111380     김대욱              -505
3     DM11001  240600     김대욱               -57
4     DM11001  354320     김대욱              -200
..        ...     ...     ...               ...
307   DM14001  471050     김대욱  -255-255-254-254
308   DM14001  472220     김대욱              -566
309   DM14001  472230     김대욱  -161-161-162-162
310   DM14001  473050     김대욱  -669-669-668-668
311   DM14001  473370     김대욱  -270-270-269-269

                         gross_amount        commission                   tax  \
0        -299250-299250-300000-300000      -59-59-59-59      -539-539-539-539
1                            -3569050              -712                 -6423
2                           -14621350             -2920                -26215
3                             -667370              -130                 -1180
4                            -9000000             -1800                -16200
..                                ...               ...                   ...
307  -1530000-1530000-1524000-1524000  -762-762-758-758  -2754-2754-2743-2743
308                          -1815135              -900                 -3262
309      -782555-782555-770000-770000  -390-390-380-380  -1392-1392-1383-1383
310  -1562710-1562710-1438905-1438905  -781-781-719-719  -2808-2808-2585-2585
311  -1012500-1012500-1007110-1007110  -500-500-500-500  -1822-1822-1811-1811

                           net_amount    price
0        -298652-298652-299402-299402  19975.0
1                            -3561915  48230.0
2                           -14592215  28953.0
3                             -666060  11708.0
4                            -8982000  45000.0
..                                ...      ...
307  -1526484-1526484-1520499-1520499   6000.0
308                          -1810973   3207.0
309      -780773-780773-768237-768237   4807.0
310  -1559121-1559121-1435601-1435601   2245.0
311  -1010178-1010178-1004799-1004799   3747.0

[312 rows x 9 columns]